* {
    margin: 0;
    padding: 0;
    list-style: none;
}

a:hover {
    text-decoration: none;
}

#anniu button {
    width: 100px;
    height: 40px;
}

#btn {
    width: 40px;
    left: 350px;
    height: 140px;
    border: 0;
    border-left: 1px solid rgb(23, 32, 43, 0.2);
    background: #f8f8f8;
    color: #000;
    cursor: pointer;
    margin-left: -3px;
}

.box {
    float: left;
    position: relative;
    left: 0;
    height: 90%;
    width: 320px;
    margin-left: 0;
    display: block;
    transition: margin-left 1s;
    z-index: 100;
    min-height: 682px;
}

#maindiv {
    width: 100%;
    height: 86.5%;
    background: #f8f8f8;
    margin: 0;
    padding: 0;
    min-width: 1770px;
}

body {
    height: 100%;
    position: absolute;
    width: 100%;
    overflow: auto;
}

#header {
    width: 100%;
    height: 10%;
    background: #8cab6e;
    background-image: url('img/head_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    position: relative;
}

.aside-wrap {
    width: 320px;
    height: 100%;
    background-color: #f8f8f8;
    position: absolute;
    box-shadow: 2px 0px 22px 3px rgba(115, 115, 115, 0.2);
}

.item-head {
    width: 10px;
    height: 50px;
    background: #8BA96E;
    float: left;
    display: none;
}

.item-wrap {
    height: 30px;
}

.item-img {
    margin-left: 20px;
    float: left;
    width: 30px;
    height: 30px
}

.item-title {
    margin-left: 20px;
    font-size: 17px;
    font-weight: bold;
    color: #666666;
    margin-top: 20px;
    line-height: 30px;
}

#btn {
    background-image: url('img/按钮-花.png');
    background-repeat: no-repeat;
    background-position: left center;
    border-style: none;
    outline: none;
    width: 41px;
    height: 148px;
    z-index: 20000;
    position: relative;
    top: 35%;
    margin-left: -32px;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    background-color: rgba(0, 0, 0, 0);
}

.r-wrap {
    width: 100px;
    height: 1508px;
    position: fixed;
    margin-left: 93.97083333%;
    margin-top: 30px;
    z-index: 200000
}

.r-list {
    box-shadow: 2px 3px 5px 0px rgba(51, 51, 51, 0.18);
    border-radius: 5px;
    width: 45px;
    margin-left: 55px;
}

.r-item {
    background-image: url('img/全图.png');
    background-repeat: no-repeat;
    background-position: center;
    border-style: none;
    outline: none;
}

.r-item2 {
    background-image: url('img/放大.png');
}

.r-item3 {
    background-image: url('img/缩小.png');
}

.r-item4 {
    background-image: url('img/平移.png');
}

.foot {
    background: #f8f8f8;
    width: 100%;
    height: 3.5%;
    min-width: 1770px;
}

.f-content {
    padding-top: 10px;
    display: block;
    text-align: center;
}